<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	id="WebApp_ID" version="3.1">
 <display-name>Log4jWebDemo1</display-name>
     
   
	
	
		<servlet>
		<servlet-name>create</servlet-name>
		<servlet-class>tomcat.create</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>create</servlet-name>
		<url-pattern>/created</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>deleted</servlet-name>
		<servlet-class>tomcat.delete</servlet-class>
	</servlet>
	

	<servlet-mapping>
		<servlet-name>deleted</servlet-name>
		<url-pattern>/deletion</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>display</servlet-name>
		<servlet-class>tomcat.display</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>display</servlet-name>
		<url-pattern>/displayed</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>mcat</servlet-name>
		<servlet-class>tomcat.modify</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mcat</servlet-name>
		<url-pattern>/modification</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>tomcat.search</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/searched</url-pattern>
	</servlet-mapping>


</web-app>